
<form {{action 'search' on='submit'}}>
  <div class="ui massive fluid icon input">
    {{input value=searchTerm placeholder="Search for your favorite videos..."}}
    <i class="search icon" type="submit"></i>
  </div>
</form>


{{#each response in videos}}
<div class="ui list">
  <div class="item">
    <img {{bind-attr src=response.url alt=imageTitle}}>
    <div class="content">
      <a class="header">{{response.title}}</a>
      <div class="description">
        {{response.description}}
      </div>
      <div class="video">
        {{ember-youtube ytid=response.videoId}}
      </div>
    </div>
  </div>
</div>
{{/each}}

{{outlet}}
