
<form {{action 'search' on='submit'}}>
  <div class="ui massive fluid icon input">
    {{input value=searchTerm placeholder="Search for your favorite videos..."}}
    <i class="search icon" type="submit"></i>
  </div>
</form>


{{#each response in videos}}
<div class="ui very relaxed items">
  <div class="item">
    <div class="image">
      <img {{bind-attr src=response.url alt=imageTitle}}>
    </div>
    <div class="content">
      <a class="ui header" {{bind-attr href=response.videoId}}>{{response.title}}</a>
      <div class="description">
        {{response.description}}
      </div>
    </div>
  </div>
</div>
{{/each}}

{{outlet}}
